@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

:root{
    --primary-color: rgb(0, 153, 255);
}

*{
    box-sizing: border-box;
    color:white;
    padding:0;
}

body{
    font-family:"Roboto",sans-serif;
    margin:0;
}

header{
    background-image:url("Red-Car.jpg");
    background-size:cover;
    background-position: center center;
    align-items:flex-start;
    flex-direction: column;
    min-height: calc(100vh - 102px);
}

.container{
    padding:1rem;
    margin:0 auto;
    max-width: 100%;
    width:1000px;
}

nav{
    display:flex;
    justify-content: space-between;
}

nav .logo{
    font-size:2.5rem;
}

nav ul{
    margin:16px;
    display: flex;
    list-style-type: none;
    padding:0;
}

nav li{
    color:white;
}

nav li a{
    padding:1rem;
    text-decoration: none;
}

.btn{
    background-color: var(--primary-color);
    margin:1rem 0;
    padding:1rem;
    text-decoration: none;
}

.home-p{
    margin-bottom: 1rem;
}

.content{
    font-size:2rem;
    margin:auto;
    max-width: 100%;
}

.content h1{
    color:var(--primary-color);
}

footer{
    background-color: rgb(66, 66, 66);
}

footer ul{
    display:flex;
    align-items: center;
    justify-content: space-between;
    list-style-type: none;
    padding: 0;
}

footer strong{
    color:var(--primary-color);
}

footer p{
    color:white;
}